{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br/>
{{ .Content }}

<div class="posts-list">
  {{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.private }}
      <div class="post">
        <div class="post-details">
          <div class="date">
            {{ .PublishDate.Format "Jan. 2, 2006" }}
          </div>
          <div class="post-content">
            <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
            {{ .Summary }}
          </div>
        </div>
      </div>
    {{ end }} <!-- Fin del if -->
  {{ end }} <!-- Fin del range -->
</div>
{{ end }}
